body {
  margin: 0px;
  background-color: #006494;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 8px;
}
header nav form button {
  border: none;
  margin-top: 5px;
  height: 34px;
}
header nav form input {
  text-align: center;
  border-style: none;
  background-color: #00304d;
  margin-right: 10px;
  border-radius: 16px;
  width: 13em;
  color: #fff;
}

#logoImage {
  height: 135px;
  width: 120px;
  margin-top: -25px;
  margin-bottom: 33px;
  border-radius: 15px;
}

#description {
  text-align: center;
}

#searchButton {
  background-color: #006494;
  border-color: #006494;
  margin-bottom: 13px;
}

.bi bi-search {
  background-size: 1rem 1rem;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #006494;
  border-radius: 13px;
}

.btn-info {
  color: #000;
  background-color: #00304d;
  border-color: #00304d;
  color: #fff;
}

@media (min-width: 768px) {
  body {
    border: 15px solid #006494;
  }
}
#mainContent {
  height: 100%;
  width: 100%;
}
#mainContent #mobileCategoryBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 14px;
  margin-top: 10px;
}

#gifFrame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 260em;
  background: linear-gradient(180deg, #00304d, #006494);
}
#gifFrame img {
  margin: 10px 0px 10px;
}
#gifFrame #gifFrame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 260em;
  background: linear-gradient(180deg, #00304d, #006494);
}
#gifFrame #gifFrame img {
  margin: 10px 0px 10px;
}
#gifFrame #parentDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#gifFrame #parentDiv #header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#gifFrame #parentDiv #iframeContainer {
  margin-top: 40px;
  margin-right: 60%;
}

#sideTab {
  display: none;
}

@media (min-width: 768px) {
  #sideTab {
    display: flex;
    width: 25%;
    height: 100%;
    background: #006494;
    flex-direction: column;
    align-items: center;
  }
  #sideTab h1 {
    font-family: serif;
  }
  #sideTab h4 {
    font-family: serif;
  }
  #sideTab ul {
    list-style: none;
    margin-right: 5px;
    padding-top: 25px;
  }
  #sideTab ul li {
    text-align: center;
    border-radius: 5px;
    margin: 0.2em;
  }
  #sideTab ul li button {
    background-color: #006494;
    color: #fff;
    width: 115px;
    margin-right: 23px;
  }
  #sideTab ul li a {
    color: #fff;
    text-decoration: none;
  }
}
@media (min-width: 668px) {
  #mainContent {
    height: 100%;
    width: 100%;
  }
  #mainContent #mobileCategoryBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 14px;
    margin-top: 10px;
  }
  #mainContent #stickerCarousel {
    height: 20%;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #mainContent #stickerCarousel img {
    height: 56px;
    width: 82px;
  }
  #mainContent #gifFrame {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 260em;
    background: linear-gradient(180deg, #00304d, #006494);
  }
  #mainContent #gifFrame img {
    margin: 10px 0px 10px;
    width: 500px;
  }
  #mainContent #parentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #mainContent #parentDiv #header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #mainContent #parentDiv #iframeContainer {
    margin-top: 40px;
    margin-right: 60%;
  }
}
@media (min-width: 992px) {
  #mainContent {
    height: 100%;
    width: 100%;
  }
  #mainContent #mobileCategoryBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 14px;
    margin-top: 10px;
  }
  #mainContent #stickerCarousel {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 20px;
  }
  #mainContent #stickerCarousel img {
    width: 180px;
    height: 150px;
  }
  #mainContent #gifFrame {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(180deg, #00304d, #006494);
  }
  #mainContent #gifFrame img {
    width: 480px;
    height: 300px;
    margin: 10px 0;
  }
  #mainContent #parentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #mainContent #parentDiv #header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #mainContent #parentDiv #iframeContainer {
    margin-top: 40px;
    margin-right: 60%;
  }
}

/*# sourceMappingURL=output.css.map */
