// reset initial HTML - CSS rule + style main body
@import './mixins';

// mobile layout
body {
  margin: 0px;
  background-color: $primaryBackground;
  color: $primaryText;
  @include flexBox(column, center, center);
  // 
  border: 3px solid #00304d;
}

// tablet layout
// @media (min-width: 668px) {
// }
