@import "./mixins";
@media (min-width: 992px) {
    #mainContent {
        height: 100%;
        width: 100%;
        #mobileCategoryBtns {
            @include flexBox(row, space-evenly, center);
            margin: 15px 0;
        }
        #stickerCarousel {
            height: auto;
            @include flexBox(row, space-evenly, center);
            flex-wrap: wrap;
            margin: 50px 20px;
            img {
                width: 180px;
                height: 150px;
            }
        }
        #gifFrame {
            height: auto;
            @include flexBox(row, space-evenly, center);
            flex-wrap: wrap;
            background: linear-gradient(180deg, #00304d, #006494);
            img {
                width: 480px;
                height: 300px;
                margin: 10px 0;
            }
        }
        #parentDiv {
            @include flexBox(column, center, center);
            #header {
                @include flexBox(row, center, center);
            }
            #iframeContainer {
                margin-top: 40px;
                margin-right: 60%;
            }
        }
    }
}