@import "./mixins";

// mobile layout
header {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  nav {
    @include flexBox(row, space-around, center);
    padding-top: 8px;
    
    // @include testBorder(black);
    form {
      button {
        border: none;
        margin-top: 5px;
        height: 34px;
      }
      input {
        text-align: center;
        border-style: none;
        background-color: $primaryDarkBlue;
        margin-right: 10px;
        border-radius: 16px;
        width: 13em;
        color: $primaryText
      }
    }
  }
}

#logoImage {
	height: 135px;
	width: 120px;
	margin-top: -25px;
	margin-bottom: 33px;
	border-radius: 15px;
}
#description {
  text-align: center;
}
  #searchButton {
    background-color: $primaryBackground;
    border-color: $primaryBackground;
    margin-bottom: 13px;
  }

.bi bi-search{
  background-size: 1rem 1rem;
}

// tablet layout
// @media (min-width: 668px) {
// }
