@import "./mixins";
// mobile layout
header {
    height: 20%;
    width: 100%;
    nav {
        @include flexBox(row, space-around, center);
        padding: 10px 0;
        #logoImage {
            width: 5vh;
            border-radius: 5px;
        }
        form {
            button {
                border: none;
                margin-top: 2px;
                height: 34px;
            }
            input {
                text-align: center;
                border-style: none;
                background-color: $primaryDarkBlue;
                margin-right: 1vh;
                margin-left: 10vh;
                border-radius: 16px;
                width: 80vw;
                height: 2.3em;
                color: $primaryText
            }
        }
    }
}

#description {
    text-align: center;
}

#searchButton {
    background-color: $primaryBackground;
    border-color: $primaryBackground;
    margin-bottom: 13px;
}

.bi bi-search {
    background-size: 1rem 1rem;
}

// tablet layout
// @media (min-width: 668px) {
// }