@import './mixins';

// mobile layout
#sideTab {
  display: none;
}

// tablet layout
@media (min-width: 768px) {
  
      #sideTab {
        display: block;
        width: 25%;
        height: 100%;
        /* border: 2px solid white; */
        /* border-radius: 5px; */
        display: flex;
        width: 25%;
        height: 100%;
        /* border: 2px solid white; */
        /* border-radius: 5px; */
        background: #006494;
        flex-direction: column;
      
    h1{
      font-family: serif;

    }
    h4{
      font-family: serif;
    }

    ul {
      list-style: none;
      margin-right: 5px;
      li {
        text-align: center;
        border-radius: 5px;
        button {
          background-color: #00304d;
          color: white;
        }
        a {
          color: $primaryText;
          text-decoration: none;
        }
      }
    }
  }
}
