@import './mixins';

// mobile layout
#container {
  @include flexBox(row, center, center);
  height: 100vh;
  width: 100%;
  background-color: $primaryBackground;
  border-radius: 13px;
  // @include testBorder(purple);
}

.btn-info {
    color: #000;
    background-color: $primaryDarkBlue;
    border-color: $primaryDarkBlue;
    color: $primaryText;
  
}

// tablet layout
@media (min-width: 768px) {
  body {
    border: 15px solid $primaryBackground;
  }
}
