@import './mixins';

// mobile layout
#container {
  @include flexBox(row, center, center);
  height: 100vh;
  width: 100%;
  background-color: #006494;
  border-radius: 13px;
  // @include testBorder(purple);
}

.btn-info {
    color: #000;
    background-color: #00304d;
    border-color: #00304d;
    color: white;
  
}

// tablet layout
@media (min-width: 768px) {
  body {
    border: 15px solid #006494;
  }
}
