@import './mixins';

// mobile layout
#sideTab {
  display: none;
}

// tablet layout
@media (min-width: 668px) {
  #sideTab {
    display: block;
    width: 25%;
    height: 100%;
    @include testBorder(white);

    ul {
      li {
        a {
          color: $primaryText;
          text-decoration: none;
        }
      }
    }
  }
}
