@import './mixins';
// mobile layout
#container {
    @include flexBox(row, center, normal);
    background-color: $primaryBackground;
}

.btn-info {
    color: #000;
    background-color: $primaryDarkBlue;
    border-color: $primaryDarkBlue;
    color: $primaryText;
}

// tablet layout
@media (min-width: 768px) {
    body {
        border: 15px solid $primaryBackground;
    }
}